<!DOCTYPE html>
<html>
<head>
	<title>Juca Daw blog</title>
</head>
<body>
	<div>
		<h1><a href="">Django DAW Blog</a></h1>
	</div>
	<div>
	    <p>published: 21.05.2017, 08:58<p/>
	    <h2><a href="">Mi primer post</a></h2>
	    <p>pablito clavo un clavito en la calva de un calvito, en la calva de un calvito pablito clavo un clavito</p>	
    <div/>
    <div>
        <p>publisher: 21.05.2017, 0859</p>
        <h3><a href="">Mi segundo post</a></h3>	
        <p>tres tristes tigres tragaban trigo en un trigal, en un trigal tragaban trigo tres tristes tigres</p> 	    
    </div>	
</body>
</html>