<html>   
    <head>
    	<title>Juca's blog</title>
    </head>
    <body>
    	<div>
    		<h1><a href="">Django Daw blog</a></h1>
    	</div>
    	
    	<div>
    	    <p>Publicado:21.05.2017, 08:58</p>
    	    <h2><a href="">My first post</a></h2>
    	    <p>pablito clavo un clavito en la calva de un calvito, en la calva de un calvito pablito clavo un clavito</p>
        </div> 	   

        <div>
            <p>Publicado: 21.05.2017, 08:59</p>
            <h2><a href="">Mysecond post</a></h2>
            <p>tres tristes tigres tragaban trigo en un trigal, en un trigal tragaban trigo tres tristes tigres</p>
        </div>         
    </body>    
</html>

